-# まだ機能実装はしておらず表示だけです
%Header.PcHeader
  .PcHeader__Inner
    .TopContent
      %h1.Img
        = image_tag "logo.png", size: "140x40", class: "Image"
      %form.Search
        %input{name: "UTF8", type: "hidden", value: "✓"}
        %input.ItemForm{placeholder: "キーワードから探す", type: "text"}/
        %button.BtnSearch{type: "submit"}
          = image_tag "icon-search 1.png", class: "image"
    .BottomContent
      .ListLeft
        .item_1
          カテゴリー
        .item_2
          ブランド
      .ListRight
        .item_3
          ログイン
        .item_4
          新規会員登録