%section.Main
  .MainVisual
    .Content
      %h2.Content__Subtital
        人生を変えるフリマアプリ
      %p.Content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %brフリマアプリです
      .Content__btn
        = image_tag "Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg", class: "app_apple"
        = image_tag "google-play-badge.png", class: "app_google"