%section.Reason
  %h2.Title
    FURIMAが選ばれる3つの理由
  %ul.Lists
    %li.List
      .List__Picture
        %span.Number 1
        = image_tag "pict-reason-01.jpg"
      %h3.List__Text
        %span 3分
        ですぐに出品
      %p.List__description
        スマホで入力するだけで簡単に出品できる！
    %li.List
      .List__Picture
        %span.Number 2
        = image_tag "pict-reason-02.jpg"
      %h3.List__Text
        %span シンプル
        で使いやすい
      %p.List__description
        スマホで入力するだけで簡単に出品できる！
    %li.List.List--last
      .List__Picture
        %span.Number 3
        = image_tag "pict-reason-03.jpg"
      %h3.List__Text
        手数料
        %span 業界最安
      %p.List__description
        最大3%でお得に出品&購入！