.Main
  .Main__header
    furima
  .Main__contents
    .content
      .content__header.space
        %h2
          購入内容の確認
      .content__item.space
        .item__image
          .item__photo
            = image_tag "https://static.mercdn.net/item/detail/orig/photos/m61289110073_1.jpg?1594477233", size: "100x100", alt: "image"
          .item__info
            %p bag
            %p 税込み ¥900
      .content__fee.space
        ¥900
      .content__credit.space
        クレジットカード
      .content__address.space
        012-345-6789
      .content__button.space
        購入する
  .Main__info
    お問い合わせ
