.footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 60px 0;
  &__contents {
    display: flex;
    margin: 0 auto;
    max-width: 850px;
    .content {
      width: calc(1/3 * 100%);
      margin-right: 2%;
      &__header {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
      }
      li {
        line-height: 2em;
        .info {
          text-decoration: none;
          color: white;
          font-size: 12px;
        }
      }
    }
  }
  &__logo {
    .logo {
      width: 200px;
    }
    p {
      font-size: 14px;
    }
  }
}