.header {
  width: 100%;
  height: 100px;
  background-color: black;
}
.wrapper {
  background-color: #eeeeee;
  padding: 40px 0;
  .main {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    .side-lists {
      width: 280px;
      margin-right: 40px;
      &__header {
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 8px;
        font-weight: bold;
      }
      .list {
        padding: 15px;
        border-top: 1px #eeeeee solid;
        background-color: white;
        &__link {
          text-decoration: none;
          color: black;
          font-size: 14px;
        }
      }
    }
    .main-contents {
      width: 700px;
      &__user-info {
        height: 200px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: #fafafa;
        .user-icon {
          font-size: 50px;
          .icon {
            color: #dddddd;
          }
        }
        .user-name {
          font-size: 15px;
        }
      }
      &__content {
        background-color: white;
        h1 {
          font-size: 20px;
          padding: 10px 0;
          text-align: center;
          margin-top: 10px;
          border-bottom: 1px #eeeeee solid;
          font-weight: bold;
        }
        .mypage__notice {
          border-bottom: 1px #eeeeee solid;
          padding: 15px;
        }
        .mypage__tab-head {
          font-size: 20px;
          line-height: 70px;
          margin-top: 40px;
          padding: 0 10px;
          background-color: #fafafa;
        }
        .mypage {
          display: flex;
          &__tabs {
            width: 50%;
            text-align: center;
            line-height: 70px;
          }
        }
        .item-lists {
          &__field {
            display: block;
            .list {
              padding: 160px 0 60px 0;
              text-align: center;
              color: #dddddd;
            }
          }
        }
      }
      h2 {
        font-weight: bold;
      }
    }
  }
}
