// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Header {
  width: 100%;
  height: 100px;
  background-color: blue;
}
.Main {
  display: flex;
  width: 1020px;
  .l-side {
    width: 280px;
    background-color: red;
    &__lists {
      ul {
        li {

        }
      }
    }
  }

  .l-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .mypage-tab-container {
      
    }
    ul {
      list-style: none;
      display: flex;
      background-color: #eeeeee;
      li {
        h3 {
          a {
            display: block;
          }
        }
      }
    }
  }
}