// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Main {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  &__header {
    background-color: yellowgreen;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__contents {
    background-color: yellow;
    max-width: 700px;
    margin: 0 auto;
    .content {
      // background-color: yellow;
      // max-width: 700px;
      &__header {
        h2 {
          text-align: center;
          font-size: 25px;
          line-height: 35px;
          font-weight: 600;
        }
      }
      &__item {
        .item__image {
          display: flex;
        }
      }
      &__fee {

      }
      &__credit {

      }
      &__address {

      }
      &__button {

      }
      .space {
        padding: 35px 15px;
        margin: 0 auto;
        max-width: 375px;
      }
    }
  }
  &__info {
    height: 100px;
    padding: 40px 0;
  }
}